/**
  |============================
  | utils
  |============================
*/

@import "./utils/placeholders";
@import "./utils/variables";
@import "./utils/visually-hidden";



/**
  |============================
  | base
  |============================
*/

@import "./base/base";
@import "./base/reset";


/**
  |============================
  | components
  |============================
*/
@import "./components/button";
@import "./components/logotype";
@import "./components/overlay";






/**
  |============================
  | layout
  |============================
*/
@import "./layout/header";
@import "./layout/navigation";
@import "./layout/hero";
@import "./layout/benefits";
@import "./layout/section-work";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/portfolio";
@import "./layout/modal";



