
.section {
    padding: 94px 0;
}
.container {
    
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
}
.benefits {
    
   
    gap: 30px;
 

&__list {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
}

&__item {
    min-width: 450px;
    min-height: 226px;
    
}
}

 .benefits__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-top: 30px;}


.benefits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;

    @media screen and (min-width: 768px) {
            text-align: left;
        }
    
        @media screen and (min-width: 1200px) {
            text-align: left;
        }
}

.benefits__text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
