


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
    gap: 30px;


 &__container {
    
    display: flex;
    align-items: baseline;
    gap: 30px;}
 
 &__logo {
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primery-white-color);
    text-decoration: none;
}

 &__web {
    color: #2196f3;
}
}

.footer__address--item {
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    &:last-child {
            margin-bottom: 0;
        }

    }


.footer__address {
    color: #ffffff;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    &:hover,
    &:focus {
    color: #2196f3;
        }
}
.footer__address--link:hover,
.footer__address--link:focus {
    color: #2196f3;
}
 
/**
  |============================
  | footer-right
  |============================
*/


.footer--right {
    margin-left: 70px;
    
&__text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primery-white-color);
    
}

&__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

&__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primery-white-color);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    &:hover,
    &:focus {
            background-color: var(--accent-color);
        }
}

}

.footer--right__social-icon {
    width: 20px;
    height: 20px;
}
/**
  |============================
  | footer-subscribe
  |============================
*/

.footer__subscribe {
    margin-left: auto;
}

.footer__text--subscribe {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: calc(16 / 14);
    letter-spacing: 0.03px;
}

.footer__form {
    display: flex;
    gap: 12px;
    align-items: center;
}

.footer__subscribe--form {
    display: flex;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding: 15px 16px;
    align-items: center;
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    outline: transparent;
}

