

.hero {
    

    background-position: center;
    max-width: 1600px;

    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    text-align: center;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/imgfon@2x.jpg);
    ;
    @media screen and (min-width: 1200px) {
            padding-top: 200px;
            padding-bottom: 200px;
    
        }


 &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--primery-white-color);
    text-transform: uppercase;
    margin-bottom: 30px;
        @media screen and (min-width: 1200px) {
                font-size: 44px;
                line-height: 1.37;
}

 &__button {
    max-width: 250px;
    min-width: 200px;
    min-height: 50px;
    padding: 9px 31px;
    letter-spacing: 0.03em;
    align-self: center;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    background-color: #2196f3;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
 }
}