.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;
    outline-offset: -1px;


    // breakpoint 480px for mobile screen
    @media screen and (min-width: 480px) {
        max-width: 480px;
    }

    // breakpoint 768px for tablet screen
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    // breakpoint 1200px for desktop screen
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}